# Aplicação
PORT=porta da aplicação

# Banco de dados
DB_HOST=host do banco de dados
DB_PORT=porta do banco de dados
DB_NAME=reservas
DB_USER=usuário do banco de dados
DB_PASSWORD=senha do banco de dados
