services:

  api:
    build:
      context: ./app
      dockerfile: Dockerfile

    container_name: reservas-api

    restart: unless-stopped

    ports:
      - "3000:3000"

    env_file:
      - .env

    networks:
      - reservas-network

networks:

  reservas-network:
    driver: bridge